LaunchZorro*/
bin
node_modules
.atom-build.json
conf.json
*.sublime-*
core-config.json
recent.json
yarn.lock
profiles
icons
dist
.vimrc
interception.tlog
**/interception.tlog/**
/windows/*/app.js
/run-app.*
