body {
  background: #21252b;
  margin: 0;
  padding: 0;
}

.group {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 0.4em;
  margin: 0.4em;
  border: 1px solid #181a1f;
  border-radius: 0.5em;
  background: #282c34;
  color: #abb2b1;
}

button {
  border: 1px solid black;
  border-radius: 0.4em;
  font-family: Arial;
  color: #abb2b1;
  background: #414855;
  text-decoration: none;
  width: 128px;
  height: 24px;
  transition: background 0.5s, color 0.5s, border-radius 0.5s;
}

button:focus {
  outline: 0;
}

button:hover {
  background: #9fafcf;
  color: #4e5666;
}

.bind {
  display: list-item;
  width: 100%;
  height: 40px;
  background: rgb(0, 24, 96);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: hand;
}
.bind:hover {
  border: 1px solid white;
}
.bind-name {
  display: inline-block;
  margin: 0;
  font-family: monospace;
  font-size: 12px;
  line-height: 40px;
  vertical-align: middle;
}

#bind-select .ui-selecting {
  background: #FECA40;
}
#bind-select .ui-selected {
  background: #F39814;
  color: white;
}
#bind-select .handle {
  cursor: move;
  display: inline-block;
  background: #BBBBBB;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 4px;
}

#group_main {
  width: 600px;
  height: 128px;
}

#group_keymaps {
  width: 580px;
  height: 420px;
}

#group_buttons {
  width: 1600px;
  height: 420px;
}

#group_action {
  width: 400px;
  height: 280px;
}

#group_deviceselection {
  width: 220px;
  height: 160px;
}

#group_extraactions {
  width: 30em;
  height: 30em;
}

#profile-name {
  font-family: monospace;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#keymap-select {
  width: 180px;
  height: 360px;
}

#bind-select-container {
  display: inline-block;
  width: 352px;
  height: 360px;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
}
#bind-select {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


/* Action Elements */
#bind-label-edit {
  width: 16em;
  margin: 1em;
}

#bind-ctrl-label {
  margin: 1em;
  margin-left: 0;
}

#bind-ctrl {
  margin-right: 0;
}

#bind-alt-label {
  margin: 1em;
  margin-left: 0;
}

#bind-alt {
  margin-right: 0;
}

#bind-shift-label {
  margin: 1em;
  margin-left: 0;
}

#bind-shift {
  margin-right: 0;
}

#bind-rapidfire {
  margin: 1em;
}


/* Extra Actions */
.extraparam_text {
  margin: 1em;
}
